  #root {
    max-width: 1280px;
    margin: 0px auto;
    padding: 2rem;
    text-align: center;
    font-family: "helvetica";

  }
  .navbar{
    margin-top: -35px !important;
}
.footer{
  margin-bottom: -35px !important;
}
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  @media screen and (min-width: 0px) and (max-width: 1024px) {
    .lazamania {
      display: none;
    }

    .form {
      margin-left: 0px !important;
    }
    
  }
  
  

  

  .hero-content{
    min-width: 100px !important;
  }
  
  .lazamania{
    position: fixed;
    width: 30%;
    margin-left: -45%;
    margin-top: -32%;
    border: none;
  
  }

  .form{
    position: fixed;
    width: 100% !important;
    
    margin-left: 80%;
    
     
  }
  .form textarea{
    resize: none;
  }

  .form .card-body{
    margin-top: -20px !important;
  }

 

/*Efecto flotando*/
.lazamania  { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}